body{padding: 0;
    margin: 0 auto;
    max-width: 80%;
    border: 0px red solid; 
    padding-left: 200px;
    background-image: url(/static/Imagens/fundo2.png);
}

.logo{float:left;
      padding-top: 15px;
      padding-left: 90px;}

.link{float:right;
      padding-top: 25px;
      padding-right: 90px ;}


.capa{text-align: center;
      background-image: url(/static/Imagens/fundo.png);
      padding-top: 100px;}

.rodape{text-align: center;}

.titulo1{float: left;
padding-left: 90px;}

p{text-align: right;}

.texto{float: left;}





