{%extends "base.html"%}

{% block conteudo %}
    <div class="titulo2">   <br> <br> <br> <br>
    <h1> <strong> Quem somos </strong> </h1>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At voluptates, id incidunt velit rem eligendi consectetur? Reprehenderit dolores optio incidunt. Quas vitae minus laborum quis, aspernatur perferendis harum natus quos! Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore quasi earum dignissimos delectus maxime porro voluptates a veritatis suscipit. Veniam nam ullam eaque cupiditate odio aliquam fugit nemo corporis adipisci? Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia, labore fugiat ratione provident itaque soluta molestiae vero nobis porro, earum pariatur architecto non voluptas assumenda? Illo deleniti dolor officiis quisquam.    
    </p>
</div>
<div class="titulo3">
    <h1> <Strong> Motivos para estudar </Strong> </h1>
</div>    
    <ol>
        <li> Material sempre atualizado </li>
        <li> Tablets em sala de aula    </li>
        <li> Professores renomados      </li>
        <li> Universidade bem avaliada  </li>
        <li>  Ótima localização         </li>
    </ol>
    <hr>
    <div class="titulo4">
        <h1> Objetivos </h1>
    </div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque nisi fuga delectus ducimus? Iusto debitis asperiores laboriosam dolor iure, consequatur fugit necessitatibus nesciunt ex, accusamus ipsum laborum voluptatem odit enim! Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, ea! Enim quaerat officia ducimus doloribus officiis nihil unde ullam nostrum? Repudiandae soluta voluptates id! Alias obcaecati impedit culpa totam nobis. Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque sequi explicabo earum, ullam aliquam accusantium quos, reprehenderit pariatur fugiat qui excepturi natus! Impedit illo neque dolorum. Eum iusto dolore quidem?     
    </p>
    {%endblock%}
    
