{%extends "base.html"%}

{% block conteudo %}
   <div class="titulo5"> <br> <br> <br> <br>
       <h1> <strong> Entre em contato </strong> </h1>
   </div>
   <div class="texto">
   <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor libero, perspiciatis quas voluptatibus expedita officiis dolores excepturi eveniet nisi.</p>
   </div> <br> <br> <br>
   <hr>
   <form action="submit">
    Seu email: <br>
    <input type="text">
    <br>
    Assunto: <br>
    <input type="text">
    <br>
    Descrição: <br>
    <input type="text">
    <br>
    <input type="submit">
    <br>
    {%endblock%}




   

